/* honeypot */
.phone {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none; /* Prevents keyboard focus */
}
